# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.git status